/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
header, nav, article, footer {
	display: block;}

body {
	color: #524b49;
	background-color: #3c6888;
	font: 1.4em Sanchez, Georgia, Times, serif;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;}
h1 { font-size: 1.3em;}
h2 { font-size: 1.17em;}
h3 { font-size: 1em; line-height: 1em;}
p { 
	font-size: 14px;
	line-height: 1.4em;}

a         { color: #000; }
a:hover   { color: #524B49; }
a:visited { color: #3C6888; }

hr {
	border: 0;
	color: #C2C2C2;
	background-color: #C2C2C2;
	height: 2px;}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
	width: 930px;
	margin: 0px auto;
	background color: #ffffff;}

header {
	padding: 3%;
	border-top: 2px solid #EEC343;}
header h1 {
	color: #ffffff;}
	
nav{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
	color: #524B49;
	background-color: #EEC342;
	height: auto;}
nav ul {
	margin: 0px;
	padding: 0.5% 0px;
	border-top: 2px solid #c2c2c2;
	border-left: 2px solid #c2c2c2;
	border-right: 2px solid #c2c2c2;}
nav li {
	display: inline-block;
	width: 19.5%;
	border-right: 2px solid #c2c2c2;
	text-align: center}
nav #last {
	border-right: 0px;}
nav li a{
	color: #524B49 !important;
	text-decoration: none;}
nav li a:hover, nav li a.current {
	color: #000000 !important;
	text-decoration: none !important;}

.site .meta {
  color: #aaa;
}

footer {
	font-family: 'Montserrat', arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	padding: 1.5% 3%;
	background-color: #EEC342;}

footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact a {
  color: #8085C1;
}

footer .rss {
  margin-right: -.2em;
  float: right;
  text-align: right;
}

footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

article {
	border: 2px solid #c2c2c2;
	background-color: #ffffff;
	overflow: auto;
	padding: 1.5% 3%;}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
