---
---
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
header, nav, article, footer {
	display: block;}

body {
	color: #524b49;
	background-color: #3c6888;
	background-image: url("{{site.baseurl}}/img/background.png");
	font-family: 'Helserif-Boo', Georgia, Times, Serif;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	text-shadow: -1px 1px 3px #c1c1c1;}
h1 { font-size: 1.3em;}
h2 { font-size: 1.17em;}
h3 { font-size: 1em; line-height: 1em;}
p { 
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: .75rem;}

a         { color: #000; }
a:hover   { color: #524B49; }
a:visited { color: #3C6888; }

hr {
	border: 0;
	color: #C2C2C2;
	background-color: #C2C2C2;
	height: 2px;}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
	max-width: 780px;
	margin: 0px auto;
	background color: #ffffff;}

header {
	padding: 2%;
	border-top: 3px solid #EEC343;}
header h1 {
	color: #ffffff;}
#headerinfo {
	float: right;
	text-align: right;
	color: #fff;
	padding-top: 7%;}
#headerinfo a { 
	color: #fff;}
#headerinfo a:hover { 
	color: #c1c1c1;}
	


.site .meta {
  color: #aaa;
}

footer {
	font-family: Helvetica, arial, sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	padding: 1.5% 3%;
	background-color: #EEC342;
	overflow: auto;
	width: 100%;}
	
footer address {
	display: inline;}
/*
footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact a {
  color: #8085C1;
}

footer .rss {
  margin-right: -.2em;
  float: right;
  text-align: right;
}

footer .rss img {
  border: 0;
}*/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

article {
	border: 2px solid #c2c2c2;
	background-color: #ffffff;
	overflow: auto;
	padding: 3% 3%;
	font-family: 'Helserif-Boo', Georgia, Times, Serif;}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/

.id-card img {
	width: 113px;
	max-height: 160px;
	}
/*
article img {
	width: 260px;
	}
*/

/*****************************************************************************/
/*
/* Overrides
/*
/******************************************************************************/

.pull-right {
  float: right !important;
} 

.pull-left {
  float: left !important;
} 

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 5% 0 7.5% 0;
}


nav.top-bar {
	padding: 0px 2%;
	background-color: #EEC342;
}

ul.right {
	color: #524B49;
	background-color: #EEC342;
}

.top-bar ul li > a {
	font-family: 'Montserrat', Arial, sans-serif !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
	line-height: 45px;
	color: #524B49;
	background: #EEC342;	
}

.top-bar-section ul li > a {
	font-family: 'Montserrat', Arial, sans-serif !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
	color: #524B49;
	background: #EEC342;
}

.top-bar .toggle-topbar.menu-icon a {
	color: rgb(82, 75, 73);
}

.top-bar-section li a:not(.button) {
	background: #EEC342;
}

.top-bar.expanded .title-area {
	background: #EEC342 !important;
}

.top-bar expanded {
	background: #EEC342 !important;
}

.top-bar {
	background: #EEC342;
}

/*
nav.top-bar {
	font-family: 'Montserrat', Arial, sans-serif !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
	color: #524B49;
	height: auto;
	text-shadow: -1px 1px 3px #b9b9b9;}

section.top-bar-section {
	display: inline-block;
	color: #524B49;
	background-color: #EEC342;
}

section.top-bar-section li {
	color: #524B49;
	background-color: #EEC342;
}

nav li {
	display: inline-block;
	width: 16%;
	border-right: 2px solid #c2c2c2;
	text-align: center}
nav #last {
	border-right: 0px;}
nav li a{
	color: #524B49 !important;
	text-decoration: none;}
nav li a:hover, nav li a.current {
	color: #000000 !important;
	text-decoration: none !important;}
*/
