<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Heise-Meyer &mdash; {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Heise Meyer, LLC is your source for Creative Solutions in Commercial Real Estate in Kansas City. We offer sales and leasing services, facility and property management services, development and constructions services to the Kansas City metro area. Call us at 816.251.4600" />
        <meta name="Keywords" content="property, heise, meyer, commercial, commercial real estate, commercial lease, office space, office space kansas city, land for sale kansas city, land for sale, property for sale, property for sale kansas city, office space for lease, office space for lease olathe, office space for sale, warehouse for sale kansas city, warehouse for sale kansas, land for sale kansas, real, estate, real estate, real-estate, management, brokerage, Kansas, City, Kansas City, metro, Blue Springs, Blue, Springs, Independence, Lees, Lee's, Lees Summit, Summit, Olathe, Missouri, Kansas, KS, MO, Overland, Park" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.min.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <script src="{{ site.baseurl }}/js/modernizr.js"></script>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/webfonts/helserif-book.css" type="text/css" charset="utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <header>
              <div id="headerinfo"><a href="tel:+18162514600">816.251.4600</a><br/><a href="mailto:info@heise-meyer.com">info@heise-meyer.com</a></div>
              <h1 class="title"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-white.png" height="80px"></a></h1>
            </header>
            <nav class="top-bar" data-topbar role="navigation">
              <ul class="title-area">
                <li class="name"><a href="{{ site.baseurl }}/">Home</a></li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
              </ul>
              <section class="top-bar-section">
                <ul class="right">
                    <li><a href="{{ site.baseurl }}/services.html">Services</a></li>
                    <li><a href="{{ site.baseurl }}/properties.html">Properties</a></li>
                    <li><a href="{{ site.baseurl }}/experience.html">Experience</a></li>
                    <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
                    <li id="last"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                </ul>
              </section>
            </nav>
            <article>

              {{ content }}

            </article>
            <footer class="row">
              <div class="small-7 large-8 columns">
                <p>
                &copy; 2014 <a href="{{ site.baseurl }}/">Heise-Meyer, LLC</a><br/>
                800 E 101st Terrace, Suite 120<br/>
                Kansas City, MO &middot; 64131<br/>
                <a href="#headerinfo">back to top</a>
                </p>
              </div>
              <div class="small-5 large-4 columns">
                  <p>
                    p. <a href="tel:+18162514600">816.251.4600</a><br/>
                    f. 816.246.4850<br/>
                    <a href="mailto:info@heise-meyer.com">info@heise-meyer.com</a><br/>
                    <a href="https://www.facebook.com/HeiseMeyerCommercialRealEstate">Facebook</a> &middot;
                    <a href="https://twitter.com/heisemeyer">Twitter</a><br/>
                  </p>
              </div>

            </footer>
          </div><!-- /site -->
        </div> <!-- /container -->
        <script src="{{ site.baseurl }}/js/jquery.js"></script>
        <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
