<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/webfonts/helserif-book.css" type="text/css" charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <header>
              <div id="headerinfo">816.251.4600<br/><a href="mailto:info@heise-meyer.com">info@heise-meyer.com</a></div>
              <h1 class="title"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-white.png" height="80px"></a></h1>
            </header>
            <nav>
            	<ul>
            		<li><a href="{{ site.baseurl }}/">About</a></li>
            		<li><a href="{{ site.baseurl }}/services.html">Services</a></li>
              	<li><a href="{{ site.baseurl }}/properties.html">Properties</a></li>
              	<li id="last"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
              </ul>
            </nav>
            <article>

                      {{ content }}

            </article>
            <footer>
            	<div id="footer_right">
              		<p>
              			{% include contact.html %}                 
                  		{% include socialmedia.html %}
              		</p>
              	</div>
            	<div id="footer_left">
            		<p>
            			&copy; 2013 {% include address.html %}               
					</p>
				</div>
            </footer>
          </div><!-- /site -->
        </div> <!-- /container -->

    </body>
</html>
